{% extends 'festapp/base.html' %}

{% block content %}
<h2 class="text-center my-4">Venue List</h2>

<div class="text-end mb-3">
    <a href="{% url 'venue_add' %}" class="btn btn-primary">Add Venue</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LOCATION</th>
            <th>CAPACITY</th>
        </tr>
    </thead>
    <tbody>
        {% for venue in object_list %}
        <tr>
            <td>{{ venue.id }}</td>
            <td>{{ venue.name }}</td>
            <td>{{ venue.location }}</td>
            <td>{{ venue.capacity }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">NO VENUE REGISTERED.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
